@tailwind preflight;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  @apply .tw-no-underline;
}

a:hover {
  @apply .tw-underline;
}

nav a {
  @apply .tw-text-white;
}

main a {
  @apply .tw-text-blue;
}

p {
  @apply .tw-my-4;
}

ul {
  @apply .tw-pl-8;
}

h2, h4 {
  @apply .tw-mt-8;
  @apply .tw-mb-4;
}

blockquote {
  @apply .tw-border-l-4;
  @apply .tw-border-solid;
  @apply .tw-border-grey;
  @apply .tw-text-grey-darker;
  @apply .tw-px-4;
}

@import 'prism.scss';
